.contentBookFrame{
    background-color: rgb(16, 84, 99);
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
    color: white;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 40px;
}
img{
    height: auto;
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1/1;
}
p{
    margin: 0;
}
.commentInterface{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    margin-bottom: 30px;
}
.bookPrice{
    color: red;
    font-size: 20px;
    font-weight: bold;
}
.likeBook{
    font-size: 20px;
    cursor: pointer;
}
.priceLikeFrame{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
div::-webkit-scrollbar {
    width: 12px;
  } 
  div::-webkit-scrollbar-track {
    background: #127799;
  } 
  div::-webkit-scrollbar-thumb {
    background-color: rgb(16, 84, 99);
    border-radius: 20px;
    border: 3px solid #124549;
}