.contentBookFrame{
    background-color: rgb(16, 84, 99);
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
    color: white;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 40px;
}
img{
    width: 200px;
    height: auto;
}
p{
    margin: 0;
}
.commentInterface{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    margin-bottom: 30px;
}
.bookPrice{
    color: red;
    font-size: 20px;
    font-weight: bold;
}
.likeBook{
    font-size: 20px;
    cursor: pointer;
}
.priceLikeFrame{
    display: flex;
    justify-content: space-between;
    width: 100%;
}